<html>
    <head>
    <title>Homepage</title>
        <link rel="stylesheet" type="text/css" href="CSS/HomepageStyle.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body bgcolor="black" style="position:relative;">
        <img id="logo" style="position:fixed;z-index: 999" src="Pictures/logos.png" alt="logo"/>
        <button style="position:relative;left:80%;z-index:999;"class="signin" onclick="location.href='SignUp.ejs';">Sign Up </button>&nbsp;&nbsp;&nbsp;
        <button style="position:relative;left:83%;z-index:999;" class="signin" onclick="location.href='Login.ejs';">Log In</button>
        <table class="front" style="margin-top:8%;margin-left:2%;">
            <tr>
                <td style="font-size: 45px; color:white; font-family: Georgia, serif;text-align:left">
                    <br>The 12th man<br>
                    <span style="font-size: 25px; font-family: Georgia, serif;color:white;">Welcome to the home of Sports Statistics</span>
                </td>
                <td style="position:relative;left:150px;"><img  src="Pictures/front.jpg"/></td>
            </tr>
        </table>
        <br><br><br><br><br>
        <table class="firstinfo">
            <tr>
                <td style="text-align: left;"><img src="Pictures/background.jpg"/></td>
                <td style="font-size: 45px; color:white; font-family: Georgia, serif;">
                <br >The 12th man<br>
                <br>
                <span style="font-size: 25px; font-family: Georgia, serif;color:white;">All the sports, teams, their competitions and related records are enlisted in ourr website</span>
            </td>
            </tr>
            
        </table>
        <table class="firstinfo">
            <tr>
                <td style="font-size: 45px; color:white; font-family: Georgia, serif;position:relative;left:3%;">
                <br>The 12th man<br>
                <br>
                <span style="font-size: 25px; font-family: Georgia, serif;color:white;">Records and statistics of each and every famous player and their complete career information is discribed</span>
                </td>
                <td style="text-align: left;"><img src="Pictures/cristiano-ronaldo-dark-hd-wallpaper.jpg"/></td>
            </tr>
            
        </table>
        <table style="width:100%;background-color: white;padding:10px">
            <tr>
                <td><img src="Pictures/Statistics1.jpg"/></td>
                <td><img src="Pictures/info1.jpg"/></td>
                <td><img src="Pictures/kohli1.jpg"/></td>
                <td><img src="Pictures/mess1.jpg"/></td>
            </tr>
            <tr>
                <td id="heading"><br>Game Statistics</td>
                <td id="heading"><br>Game Information</td>
                <td id="heading"><br>Player Information</td>
                <td id="heading"><br>Player Statistics</td>
            </tr>
            <tr>
                <td id="info"><br>All the latest game statistics are updated game by game<br></td>
                <td id="info"><br>Information about each and every aspect of the game is provided<br></td>
                <td id="info"><br>News about every move of your favorite sportsperson is provided<br></td>
                <td id="info"><br>Players career statistics are provided with personal information<br></td>
            </tr>
        </table>
        
        <button id="button" onclick="location.href='SignUp.ejs';" style="position:relative;left:40%;">Get Started</button>
         <hr style="position:relative; top:20%;">
        <div id="end" style="position:relative;left:7%;margin-top:-4%;">
       
            <a href="#" id="facebook" class="fa fa-facebook socialmedia" ></a>
            <a id="twitter" class="socialmedia fa fa-twitter" href="#" ></a>
            <a id="google" class="socialmedia fa fa-google" href="#"  ></a>
            <a id="linked" class="socialmedia fa fa-linkedin" href="#"></a>
            <a id="youtube" class="socialmedia fa fa-youtube" href="#" ></a >
            <a id="insta" class="socialmedia fa fa-instagram" href="#"></a>  
            <div id="about">
            <pre style="line-height: 40px"><span style="position: relative; left:384px;font-size:20px; word-spacing: 12px ;color: dodgerblue">ABOUT  ARCHIVE  PRIVACY  TERMS  CONTACT</span>
            <span style="position: relative; left:270px;font-size:20px; color:white"> Watchr Media  Cassius Network  All rights reserved</span></pre>
            </div>
        </div>

    </body>


</html>