<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="CSS/loginStyle.css">
    <style>
        body {
            background: url(Pictures/bg1.jpg);
        }
    </style>
</head>

<body>
    <div class="login-box container-fluid">
        <img src="Pictures/avatar.png" class="avatar">
        <h1>Login Here</h1>
        <form action="/Login.ejs" method="POST">
            <p>Username</p>
            <input 
            type="text" 
            pattern="[A-Za-z][A-Za-z0-9].{3,}" 
            name="uname" 
            placeholder="Enter Username"
            title="minimum 5 char and first char must be alphabet and username must be unique" 
            autocomplete="off"
            required 
            />

            <p>Password</p>
            <input 
            type="password" 
            pattern="(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[@#$%&*^!]).{8,}" 
            name="pass"
            placeholder="Enter Password"
            title="minimum 8 char and must contain atleast 1 Uppercase,1 Lowercase,1 digit and 1 special char"
            required
            />

            <button type="submit" name="submit">Login</button>
            <table style="width:70%; position:relative; bottom:-12px; left:35px;">
                <tr>
                    <td style="color:white;text-align:center; width:45%;">
                        <hr />
                    </td>
                    <td style="color:white; text-align:left; width:5%;">or</td>
                    <td style="color:white; text-align:left; width:50%;">
                        <hr />
                    </td>
                </tr>
            </table>
        </form>
        <button id="New" onclick="location.href='SignUp.ejs';">Create New Account</button>
        <!--  <form action="Sign" method="get">
                       <button id="New" type="submit" name="new account" onclick="SignUp.jsp">Create New Account</button>
                       </form>-->
        <br />
        <a href="/forgot" style=" position:relative;left:65px;">Forgot Password?</a>



    </div>

</body>

</html>