<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Pardeep</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="CSS/navigation.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <style>
        #navbar {
            right: 380px;
        }

        .hov:hover {
            transform: scale(1.1);
        }

        #headbar {
            position: fixed;
            background-color: white;
            right: 0%;
            width: 100%;
            top: 0px;
            height: 100px;
            z-index: 1100;
        }

        #navbar ul li {
            background-color: #FF5722;
            color: black;
        }

        #navbar ul li:hover {
            background-color: white;
        }

        .search_box {
            background-color: #2f3640;
        }

        .btn {
            color: #ff5722;
            border: none;
            cursor: pointer;
            background-color: #2f3640;
        }

        .search_box:hover .btn {
            background-color: white;
        }

        .icon {
            color: #ff5722;
        }

        .profile ul li {
            color: white;
            background-color: black;
        }

        .defend {
            position: relative;
            width: 80%;
            height: 600px;
            background: url("Pictures/bg1.jpg");
            background-size: cover;
            background-position: center;
            top: 50px;
            left: 10%;
            z-index: -10;
        }

        .th {
            color: #ff5722;
            font-size: 25px;
            font-family: sans-serif, light-weight;
        }

        .field {
            border-color: #1d7cf2;
            border-radius: 15px;
            background-color: white;
            height: 200px;
            width: 200px;
            background: repeating-linear-gradient(45deg,
                    #e0e0e0,
                    #e0e0e0 2px,
                    white 2px,
                    white 20px);
        }

        .playerstat {
            border-radius: 15px;
            background-color: white;
        }

        .circle {
            width: 50px;
            height: 50px;
            background: grey;
            border-radius: 50%;
        }

        #navbar ul li:hover {
            background-color: #000066;
            color: white;
        }

        .blackhov:hover .ahov {
            color: white;
            background-color: #000066;
        }

        .ahov {
            color: black;
            background-color: #ff5722;
        }
    </style>
    <script>
        var bleep1 = new Audio();
        bleep1.src = "tick3.mp3";
    </script>
</head>

<body bgcolor="white">
    <div style="position:fixed; top:0%; left:3%;height:100px;width:100px;background-color:white;z-index:1200;">
        <img src="kabaddi/patnalogo.jpg" width="100%" height="100%" alt="logo" />
    </div>
    <div id="headbar">
        <div id="navbar">
            <ul>
                <li class="blackhov" onmouseover="bleep1.play()"><a class="ahov" href="/MainPage"
                        style="text-decoration:none;">Home</a></li>
                <li class="blackhov" onmouseover="bleep1.play()"><a class="ahov" href="/MainPage#bookmark1"
                        style="text-decoration:none;">Players</a></li>
                <li class="blackhov" onmouseover="bleep1.play()"><a class="ahov" href="/MainPage#bookmark2"
                        style="text-decoration:none;">Teams</a></li>
                <li class="blackhov" onmouseover="bleep1.play()"><a class="ahov" href="/MainPage"
                        style="text-decoration:none;">Tournaments</a></li>
            </ul>
        </div>
        <div class="search_box">
            <form action="/SearchPlayers" method="post">
                <input class="input_box" type="search" name="plname" placeholder="Search" autocomplete="off" required />
                <button class=" btn" style="position:relative;">
                    <i class="fa fa-search"></i>
            </form>
        </div>
        <div class="profile">
            <a class="icon" href="">
                <i class="fa fa-user"></i>
            </a>
            <ul>
                <li><a href="/ViewProfile" style="color:white;text-decoration:none;background-color:black;">View
                        Profile</a></li>
                <li><a href="/ChangePass" style="color:white;text-decoration:none;background-color:black;">Change
                        Password</a></li>
                <li>
                    <form action="/Logout">
                        <input type="submit" value="Logout"
                            style="border:none;font-size:16px;cursor: pointer;color:white;width:120px;background-color:black;margin-top:2px;line-height:40px;text-align:center;font-size:16px;border-radius:20px;">
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="defend" style="margin-top: 30px;">
        <img src="kabaddi\meraj_sheykh.png" style="text-align:center;width:35%;height:80%;">
        <p
            style="font-size:140px;font-family:'Source Sans Pro', sans-serif;color:white; text-align:center;margin-top:-27%;line-height:0.8;margin-left:8%;">
            <b>MERAJ</b><br /><b style="font-size:100px;line-height: 100px;">SHEYKH</b></p>
        <p
            style="font-size:40px;font-family:'Source Sans Pro', sans-serif;color:white; text-align:center;margin-left:75%;margin-top:-8%;">
            <b>ALL</b><br /><b>ROUNDER</b></p>
        <table style="width:100%; margin-top:10%;">
            <tr>
                <td style="font-size:30px;font-family:'Source Sans Pro', sans-serif;color:white;text-align:center;">IRAN
                </td>
                <td style="font-size:30px;font-family:'Source Sans Pro', sans-serif;color:white;text-align:center;">MAY
                    26,1988</td>
                <td style="font-size:30px;font-family:'Source Sans Pro', sans-serif;color:white;text-align:center;">70
                    KG</td>
                <td style="font-size:30px;font-family:'Source Sans Pro', sans-serif;color:white;text-align:center;">
                    5.4ft</td>
            </tr>
            <tr>
                <td style="font-size:25px;font-family:'Source Sans Pro', sans-serif;color:#1d7cf2;text-align:center;">
                    Nationality</td>
                <td style="font-size:25px;font-family:'Source Sans Pro', sans-serif;color:#1d7cf2;text-align:center;">
                    D.O.B</td>
                <td style="font-size:25px;font-family:'Source Sans Pro', sans-serif;color:#1d7cf2;text-align:center;">
                    Weight</td>
                <td style="font-size:25px;font-family:'Source Sans Pro', sans-serif;color:#1d7cf2;text-align:center;">
                    Height</td>
            </tr>
        </table>
    </div>

    <div style=" background-color:white; width:80%; margin-left:10%; margin-top:10%; margin-bottom:1%; height:400px;">
        <h2 class="th" style="font-size:30px ;margin-left:2%;color:#000066">ABOUT</h2>
        <br />
        <hr style="margin-left:2%;margin-right:2%; color:black;" />
        <br />
        <p
            style="color:black;font-size:25px;font-family:'Source Sans Pro', sans-serif;margin-left:2%;text-align:justify;margin-right:2%;line-height:1.5;">
            Honing both his raiding and defending skills, Iran's Meraj Sheykh has become one of the finest all-rounders
            currently playing in VIVO Pro Kabaddi.
            His ability to stay calm under pressure and exploit any small mistake of the opposition makes him a
            formidable player.
            Sheykh has led Iran in several international kabaddi events including the 2016 Kabaddi World Cup.
            <br /><br />
            He became the first foreign player to captain a VIVO Pro Kabaddi side when he was selected as the Telugu
            Titans captain for the second half of Season 2.
            <br /><br />
            Meraj Sheykh was the most successful all-rounder in VIVO Pro Kabaddi Season 5, scoring 104 points.
        </p>
        <br />

        <div
            style=" background-color:white; width:100%; margin-left:0%; margin-top:7%; margin-bottom:1%; height:900px;">
            <h2 class="th" style="font-size:30px ;margin-left:2%;color:#000066">STATS: All Seasons</h2>
            <br />
            <hr style="margin-left:2%;margin-right:2%; color:black;" />
            <br />
            <table style="margin-left:5%; margin-right:2%; width:100%; margin-top:5%;">
                <tr>
                    <td>
                        <fieldset class="field">
                            <legend class="th" style="font-size:80px; text-align:center; color:#1d7cf2;"><b>82</b>
                            </legend>
                            <p
                                style="font-size:35px;color:black; text-align:center; margin-top:15px;font-family:'Source Sans Pro', sans-serif;">
                                <b>MATCHES</b><br /><b style="font-size:30px;">PLAYED</b></p>
                        </fieldset>
                    </td>
                    <td>
                        <fieldset class="field">
                            <legend class="th" style="font-size:80px; text-align:center; color:#1d7cf2;"><b>362</b>
                            </legend>
                            <p
                                style="font-size:35px;color:black; text-align:center; margin-top:15px;font-family:'Source Sans Pro', sans-serif;">
                                <b>TOTAL</b><br /><b style="font-size:30px;">POINTS</b></p>
                        </fieldset>
                    </td>
                    <td>
                        <fieldset class="field">
                            <legend class="th" style="font-size:80px; text-align:center; color:#1d7cf2;"><b>309</b>
                            </legend>
                            <p
                                style="font-size:35px;color:black; text-align:center; margin-top:15px;font-family:'Source Sans Pro', sans-serif;">
                                <b>RAID</b><br /><b style="font-size:30px;">POINTS</b></p>
                        </fieldset>
                    </td>
                    <td>
                        <fieldset class="field">
                            <legend class="th" style="font-size:80px; text-align:center; color:#1d7cf2;"><b>53</b>
                            </legend>
                            <p
                                style="font-size:35px;color:black; text-align:center; margin-top:15px;font-family:'Source Sans Pro', sans-serif;">
                                <b>TACKLE</b><br /><b style="font-size:30px;">POINTS</b></p>
                        </fieldset>
                    </td>
                </tr>
            </table>
            <br /><br /><br />
            <hr style="margin-left:2%;margin-right:2%; color:black;" />
            <br />
            <div style="background-color:white;width:26%;height:30%;border-right:1px #909090 solid;">
                <p
                    style="font-size:100px;color:black; text-align:center; margin-top:15px;font-family:'Source Sans Pro', sans-serif;line-height:0.7;position:relative;top:25%;color:#1d7cf2">
                    <b>796</b><br /><b style="font-size:38px;color:black;line-height: 100px;">TOTAL RAIDS</b></p>
            </div>

            <div style="background-color:white;width:70%;height:30%;margin-top:-22.25%;margin-left:27%;">
                <table style="width:100%;background-color:white;position:relative;top:8%;left:5%;margin-right:2%;">
                    <tr>
                        <td>
                            <fieldset class="playerstat"
                                style="width:170px;height:170px;margin-left:3%;border-color:lightgreen;">
                                <legend></legend>
                                <fieldset class="playerstat"
                                    style="width:150px;height:150px;margin-top:8px;margin-left:8px;background-color:#fffdd0;border-color:#fffdd0;">
                                    <legend></legend>
                                    <p
                                        style="font-size:60px;color:black; text-align:center; margin-top:35px;font-family:'Source Sans Pro', sans-serif;">
                                        <b>16</b></p>
                                </fieldset>
                            </fieldset>
                        </td>
                        <td>
                            <fieldset class="playerstat"
                                style="width:170px;height:170px;margin-left:10%;border-color:#FF5722;">
                                <legend></legend>
                                <fieldset class="playerstat"
                                    style="width:150px;height:150px;margin-top:8px;margin-left:8px;background-color:#f9c1a4;border-color:#f9c1a4;">
                                    <legend></legend>
                                    <p
                                        style="font-size:60px;color:black; text-align:center; margin-top:35px;font-family:'Source Sans Pro', sans-serif;">
                                        <b>3.76</b></p>
                                </fieldset>
                            </fieldset>
                        </td>
                        <td>
                            <fieldset class="playerstat"
                                style="width:170px;height:170px;margin-left:20%;border-color:#1d7cf2;">
                                <legend></legend>
                                <fieldset class="playerstat"
                                    style="width:150px;height:150px;margin-top:8px;margin-left:8px;background-color:#a9a9b0;border-color:#a9a9b0;">
                                    <legend></legend>
                                    <p
                                        style="font-size:60px;color:black; text-align:center; margin-top:35px;font-family:'Source Sans Pro', sans-serif;">
                                        <b>5</b></p>
                                </fieldset>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p
                                style="font-size:25px;color:blue; text-align:center; margin-top:5px;font-family:'Source Sans Pro', sans-serif;margin-left:-30%;">
                                <b>Super</b><br /><b style="font-size:25px;">Raids</b></p>
                        </td>
                        <td>
                            <p
                                style="font-size:25px;color:blue; text-align:center; margin-top:5px;font-family:'Source Sans Pro', sans-serif;margin-left:-20%;">
                                <b>Average Raid</b><br /><b style="font-size:25px;">Points/Match</b></p>
                        </td>
                        <td>
                            <p
                                style="font-size:25px;color:blue; text-align:center; margin-top:5px;font-family:'Source Sans Pro', sans-serif;">
                                <b>Super</b><br /><b style="font-size:25px;">10S</b></p>
                        </td>
                    </tr>
                </table>
            </div>


            <br /><br /><br />
            <hr style="margin-left:2%;margin-right:2%; color:black;" />
            <br />
            <div style="background-color:white;width:26%;height:30%;border-right:1px #909090 solid;">
                <p
                    style="font-size:100px;color:black; text-align:center; margin-top:15px;font-family:'Source Sans Pro', sans-serif;line-height:0.7;position:relative;top:25%;color:#1d7cf2">
                    <b>144</b><br /><b style="font-size:38px;color:black;line-height: 100px;">TOTAL TACKLES</b></p>
            </div>

            <div style="background-color:white;width:70%;height:30%;margin-top:-22.25%;margin-left:27%;">
                <table style="width:100%;background-color:white;position:relative;top:8%;left:5%;margin-right:2%;">
                    <tr>
                        <td>
                            <fieldset class="playerstat"
                                style="width:170px;height:170px;margin-left:3%;border-color:lightgreen;">
                                <legend></legend>
                                <fieldset class="playerstat"
                                    style="width:150px;height:150px;margin-top:8px;margin-left:8px;background-color:#fffdd0;border-color:#fffdd0;">
                                    <legend></legend>
                                    <p
                                        style="font-size:60px;color:black; text-align:center; margin-top:35px;font-family:'Source Sans Pro', sans-serif;">
                                        <b>6</b></p>
                                </fieldset>
                            </fieldset>
                        </td>
                        <td>
                            <fieldset class="playerstat"
                                style="width:170px;height:170px;margin-left:-27%;border-color:#FF5722;">
                                <legend></legend>
                                <fieldset class="playerstat"
                                    style="width:150px;height:150px;margin-top:8px;margin-left:8px;background-color:#f9c1a4;border-color:#f9c1a4;">
                                    <legend></legend>
                                    <p
                                        style="font-size:60px;color:black; text-align:center; margin-top:35px;font-family:'Source Sans Pro', sans-serif;">
                                        <b>0.57</b></p>
                                </fieldset>
                            </fieldset>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p
                                style="font-size:25px;color:blue; text-align:center; margin-top:5px;font-family:'Source Sans Pro', sans-serif;margin-left:-50%;">
                                <b>Super</b><br /><b style="font-size:25px;">Tackles</b></p>
                        </td>
                        <td>
                            <p
                                style="font-size:25px;color:blue; text-align:center; margin-top:5px;font-family:'Source Sans Pro', sans-serif;margin-left:-110%;">
                                <b>Average</b><br /><b style="font-size:25px;">Tackles/Match</b></p>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <hr style="margin-left:2%;margin-right:2%; color:black;margin-top:18%;" />
        <br />
        <br />
        <div style=" background-color:white; width:85%; margin-left:0%; margin-top:2%; margin-bottom:1%; height:350px;">
            <h2 class="th" style="font-size:40px ;margin-left:2%;color:#000066;"><b>JOURNEY WITH PKL</b></h2>
            <br /><br />
            <img src="kabaddi\merajstats.png" alt="Fazel Stat" width="100%" height="100%" />
        </div>

        <br />
        <hr style="margin-left:2%;margin-right:2%; color:black;margin-top:10%;" />
        <div style=" background-color:white; width:95%; margin-left:-2%;margin-top:6%; margin-bottom:1%; height:200px;">
            <span
                style="font-family: 'Source Sans Pro', sans-serif;font-size:35px; color:black; position:relative; left:15%; top:-2.5%">Sanctioned
                By</span>
            <span
                style="font-family: 'Source Sans Pro', sans-serif;font-size:35px; color:black; position:relative; left:38%; top:-2.5%;">Managed
                By</span>
            <p
                style="font-family: 'Source Sans Pro', sans-serif;font-size:35px; color:black; position:relative; left:85%; top:-22%">
                Broadcast Partners</p>
            <img class="hov" src="kabaddi\AKF.png" style="position:relative; left:8%;top:5%;">
            <img class="hov" src="kabaddi\COI.png" style="position:relative; left:11%;top:5%;">
            <img class="hov" src="kabaddi\IKF.png" style="position:relative; left:14%;top:5%;">
            <img class="hov" src="kabaddi\mashal.png" style="position:relative; left:26%;top:5%;">
            <img class="hov" src="kabaddi\star.png" style="position:relative; left:45%;top:5%;">
        </div>
        <div id="end">
            <hr />
            <a style="color:#3B5998;" href="#" id="facebook" class="fa fa-facebook socialmedia"></a>
            <a style="color:#55ACEE;" id="twitter" class="socialmedia fa fa-twitter" href="#"></a>
            <a style="color:#dd4b39;" id="google" class="socialmedia fa fa-google" href="#"></a>
            <a style="color:#007bb5;" id="linked" class="socialmedia fa fa-linkedin" href="#"></a>
            <a style="color:#bb0000;" id="youtube" class="socialmedia fa fa-youtube" href="#"></a>
            <a style="color:#125688;" id="insta" class="socialmedia fa fa-instagram" href="#"></a>
            <div id="about">
                <pre
                    style="line-height: 40px"><span style="position: relative; left:400px;font-size:20px; word-spacing: 12px ;color:#000066">ABOUT  ARCHIVE  PRIVACY  TERMS  CONTACT</span>
        <span style="position: relative; left:365px;font-size:20px; color:#0000dd">  Watchr Media  Cassius Network  All rights reserved</span></pre>
            </div>
        </div>

</body>