
<!DOCTYPE html>
<html>
<head>
<style>
body
{
background:url("Pictures/bg1.jpg");
}
.prof
{
    z-index:999;
	width:450px;
	height:620px;
	background:white;
	box-sizing:border-box;
	border-radius:20px;
	overflow:hidden;
	box-shadow:0 30px 30px rgba(0,0,0,.5);	
}
</style>
<meta charset="ISO-8859-1">
<title>Not Found</title>
</head>
<body>
<div class="prof" style="position:fixed;top:8%;left:37%;">
<img src="Pictures/error.png" style="position:relative;left:10%;top:14%;"/>
</div>
</body>
</html>